.fs {
    font-family: 'Montserrat', sans-serif;
    font-weight: 800;
    font-style: normal;
    font-size: 40px;
    text-align: center;
    padding-top: 30px;
    padding-bottom: 30px;
    letter-spacing: 5px;
}

header {
    background-color: #c4edeea8;
    height: auto;
    width: 100%;
}
#login{
    width: 360px;
   margin-left: 45px;
    max-width: 100%;
}
.btn{
    text-align: center;
    max-width: 100%;
    margin-right: 9%;
    width: 200px;
    background: #D8F3F4;
    transition: all .2s linear;
}
.btn :hover{
    background: teal !important;
    color: white !important;
    transition: all .2s linear !important;
}
.btnn{
    text-align: center;
    max-width: 100%;
    width: 200px;
    margin-top: 20px;
    border: 1px solid transparent;
    padding: .375rem .75rem;
    border-radius: .25rem;
    background: #D8F3F4;
    transition: all .2s linear;
}
.btnn :hover{
    background: teal !important;
    color: white !important;
    transition: all .2s linear !important;
}
#pass{
    width: 360px;
    margin-left: 45px;
     max-width: 100%;
}
.authtext {
    font-family: 'Montserrat', sans-serif;
    font-weight: 400;
    font-style: normal;
    font-size: 25px;
    margin-top: 20px;
    text-align: center;
    padding-top: 70px;
    padding-bottom: 30px;
}

.cont {
    width: 100%;
    height: 100%;
    margin-top: 20px;
    top: 0;
    left: 0;
    overflow: auto;
}

.block {
    width: 450px;
    height: 395px;
    margin: -125px 0 0 -125px;
    max-width: 100%;
    display: block;
    margin: 0 auto;
    border-radius: 30px;
    background-color: rgb(240, 217, 188);
    text-align: center;
}
